/* ---------------------------------- */
/* card page
------------------------------------- */
.card-page {
    padding-top: 30px;
}

.ncard {
    position: relative;
    background-color: #fff;
    margin: 30px 0px;
    padding: 30px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(57,73,76,.35);
    box-shadow: 0 2px 8px rgba(57,73,76,.35);
}

.ncard header, .ncard footer {
    margin: 0 -30px;
    padding: 30px;
    background-color: #F9F9F9;
}

.ncard header {
    border-bottom: 1px solid #E0E0E0;
}

.ncard section {
    border-bottom: 1px solid #E0E0E0;
    margin: 0 -30px;
    padding: 20px 30px;
}

.ncard section:last-child {
    border-bottom: none;
}


.ncard-job-overview {
    border-left: 1px solid #e0e0e0;
    font-size: 12px;
}

.ncard hr{
    margin-top: 18px;
    margin-bottom: 18px;
    border: 0;
    border-top: 1px solid #E0E0E0;
}


/* ---------------------------------- */
/* listings page header breadcrumbs
------------------------------------- */
.listings-page {
    padding-top: 30px;
}

.listings-page header {
    padding: 10px 0 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1 1;
}

@media only screen and (min-width: 600px) {
    .listings-page header {
        padding: 15px 0;
    }
}

.listings-page .breadcrumbs {
    padding-bottom: 15px;
    line-height: 18px;
    padding-left: 0;
    margin: 0;
}

.listings-page .breadcrumbs li {
    display: inline;
}

.listings-page .breadcrumbs li a {
    color: inherit;
    font-size: 12px;
    vertical-align: middle;
}

.listings-page .breadcrumbs li span {
    font-size: 14px;
    margin-top: 2px;
    vertical-align: middle;
}

.listings-page .breadcrumbs li:last-child span {
    content: none;
}

.listings-page .single-page-section {
    padding-left: 1px;
}

.listings-page .countdown {
    font-size: 15px;
    font-weight: 600;
}

.listings-header h2 {
    font-size: 28px;
    text-transform: none !important;
    color: #0e0e0f;
    padding-bottom: 5px;
    line-height: 125%;
    font-weight: 700;
}

.listings-header .helper .description {
    color: #999;
    line-height: 20px;
    text-align: left;
    padding-right: 10px;
    margin-left: 3px;
    display: inline-block;
}

.listings-header .helper button {
    background-color: transparent;
}

.listings-header .helper .btn-play {
    border: none;
    font-size: 14px;
    color: #1dbf73;
    font-weight: 700;
    line-height: 20px;
}

.listings-header .helper .btn-play i {
    margin-right: 4px;
    font-size: 16px;
    font-weight: 700;
    vertical-align: top;
    line-height: 14px;
}

/* ---------------------------------- */
/* Jobs - Filter Panel
------------------------------------- */
.filter_section {
    margin-bottom: 24px;
}

.filter_component .filter_map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 16px;
}

.filter_component .filter_map .filter_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.filter_component .filter_map .filter_left .margin-left-8 {
    margin-left: 8px;
}


.filter_menu {
    position: relative;
}

.filter_menu .menu-title {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 12px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    color: #222325;
    min-width: 50px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #dadbdd;
    -webkit-transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
    -o-transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
    transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter_menu .menu-title.checked {
    background-color: #e8faf4;
    border-color: #a6eaca;
    color: #1dbf73;
    font-weight: 500;
}

.filter_menu .menu-title>span {
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100% - 28px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.filter_widget .filter_menu .menu-content {
    position: absolute;
    top: 100%;
    margin-top: -18px;
    font-size: 14px;
    line-height: 22px;
    background: #fff;
    opacity: 0;
    z-index: 1000;
    pointer-events: none;
    border: 1px solid #dadbdd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-transition: all .24s cubic-bezier(.215, .61, .355, 1), opacity .12s cubic-bezier(.215, .61, .355, 1);
    -o-transition: all .24s cubic-bezier(.215, .61, .355, 1), opacity .12s cubic-bezier(.215, .61, .355, 1);
    transition: all .24s cubic-bezier(.215, .61, .355, 1), opacity .12s cubic-bezier(.215, .61, .355, 1);
    -webkit-transition-delay: .12s;
    -o-transition-delay: .12s;
    transition-delay: .12s;
    -webkit-box-shadow: 0 12px 18px rgba(0, 0, 0, .14);
    box-shadow: 0 12px 18px rgba(0, 0, 0, .14);
}

.filter_widget .filter_menu.open .menu-content {
    pointer-events: all;
    opacity: 1;
    margin-top: 8px;
}

.filter_widget .filter_menu.grouped .menu-content {
    width: 500px;
}

.filter_widget .filter_menu .menu-content .content-scroll {
    padding: 12px 24px;
    max-height: 25vh;
    overflow-y: scroll;
    position: relative;
    top: -8px;
    opacity: 0;
    -webkit-transition: all .24s cubic-bezier(.215, .61, .355, 1);
    -o-transition: .24s all cubic-bezier(.215, .61, .355, 1);
    transition: all .24s cubic-bezier(.215, .61, .355, 1);
    -webkit-transition-delay: .24s;
    -o-transition-delay: .24s;
    transition-delay: .24s;
}

.filter_widget .grouped .menu-content .content-scroll {
    min-height: 150px;
}

.filter_widget .filter_menu.open .menu-content .content-scroll {
    opacity: 1;
    top: 0;
}

.filter_widget .grouped .menu-content .more-filter-item {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #e4e5e7;
}

.filter_widget .grouped .menu-content .more-filter-item:last-child {
    padding: 6px 0;
    margin: 4px 0;
    border-bottom: none;
}

.filter_widget .filter_menu .content-title {
    color: #b5b6ba;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: .5px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter_widget .grouped .menu-content .more-filter-item .content-title {
    color: #222325;
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    letter-spacing: normal;
}

.filter_widget .filter_menu .menu-content .checkbox-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.filter_widget .grouped .menu-content .more-filter-item .checkbox-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-height: 80px;
    overflow-y: hidden;
    -webkit-transition: max-height .3s ease;
    -o-transition: max-height .3s ease;
    transition: max-height .3s ease;
}

.filter_widget .grouped .menu-content .more-filter-item.expanded .checkbox-list {
    max-height: 100%;
    margin-top: 12px;
    padding-left: 4px;
}

.filter_menu .menu-content .fit-checkbox {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #404145;
}

.filter_widget .filter_menu .menu-content .checkbox-list .fit-checkbox {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    font-size: 14px;
    line-height: 22px;
    padding: 2px 0;
    margin: 3px 0;
    min-width: 214px;
    font-weight: 600;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter_widget .grouped .menu-content .more-filter-item .checkbox-list .fit-checkbox {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.filter_widget .fit-checkbox input[type=checkbox] {
    height: 0;
    width: 0;
    opacity: 0;
}

.filter_widget .fit-checkbox .checkmark-box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid #c5c6c9;
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    -webkit-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

.filter_widget .filter_menu .menu-content .checkbox-list .fit-checkbox .checkmark-box {
    -ms-flex-item-align: start;
    align-self: start;
    position: relative;
    top: 3px;
    margin-right: 12px;
    -webkit-transition: -webkit-box-shadow .24s cubic-bezier(.215, .61, .355, 1);
    transition: -webkit-box-shadow .24s cubic-bezier(.215, .61, .355, 1);
    -o-transition: .24s box-shadow cubic-bezier(.215, .61, .355, 1);
    transition: box-shadow .24s cubic-bezier(.215, .61, .355, 1);
    transition: box-shadow .24s cubic-bezier(.215, .61, .355, 1), -webkit-box-shadow .24s cubic-bezier(.215, .61, .355, 1);
}

.filter_widget .filter_menu .menu-content .checkbox-list .fit-checkbox .inner-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1 1;
}

.filter_widget .filter_menu .menu-content .checkbox-list .count {
    color: #b5b6ba;
    margin-left: 6px;
}

.filter_widget .fit-icon {
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    fill: #222325;
}

.filter_widget .fit-checkbox .checkmark-box .check-icon {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: inline-block;
    font-weight: inherit;
    font-style: inherit;
    opacity: 0;
    pointer-events: none;
    color: #62646a;
    -webkit-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

.filter_widget .fit-checkbox input:checked+.checkmark-box .check-icon {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
}

.filter_widget .fit-icon svg {
    float: left;
    height: 100%;
    width: 100%;
}

.filter_widget .grouped .show-more-less {
    cursor: pointer;
    color: #1dbf73;
}

.filter_widget .filter_menu .menu-content .button-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #e4e5e7;
    padding: 0 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter_widget .filter_menu .menu-content .button-row .apply,
.filter_widget .filter_menu .menu-content .button-row .button-base,
.filter_widget .filter_menu .menu-content .button-row .clear-all,
.filter_widget .filter_menu .menu-content .button-row .close {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    color: #b5b6ba;
    font-size: 14px;
    padding: 12px;
}

.filter_widget .filter_menu .menu-content .button-row .apply {
    margin: 8px 0;
    padding: 4px 12px;
    color: #fff;
    background: #1dbf73;
    border-radius: 4px;
}

/*筛选单选选项 filter radio list*/

.filter_widget .filter_menu .menu-content .radio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.filter_menu .menu-content .fit-radio {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #404145;
}

.filter_widget .filter_menu .menu-content .radio-list .radio-item {
    font-size: 14px;
    line-height: 22px;
    padding: 6px 0;
    margin: 4px 0;
    min-width: 214px;
    font-weight: 600;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter_menu .fit-radio input[type=radio] {
    display: none;
}

.filter_menu .fit-radio .fit-radio-circle {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid #b5b6ba;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
}

.filter_menu .fit-radio .fit-radio-circle,
.filter_menu .fit-radio .fit-radio-circle:after {
    display: inline-block;
    -webkit-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

.filter_widget .filter_menu .fit-radio .fit-radio-circle:after {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    height: 8px;
    width: 8px;
    background: #95979d;
    border-radius: 50%;
    content: "";
}

.filter_menu .fit-radio input:checked+.fit-radio-circle:after {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.top-filters .switch-container label {
    color: #666;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding-left: 42px;
    margin-bottom: 0;
    line-height: 24px;
}

.filter_switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.filter_widget .filter_menu .menu-content .price-range-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: "row";
    flex-direction: "row";
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.filter_widget .filter_menu .menu-content .price-range-filter .input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1 1;
    margin-bottom: 12px;
}

.filter_widget .filter_menu .menu-content .price-range-filter .input-wrapper:first-child {
    margin-right: 12px;
}

.filter_widget .filter_menu .menu-content .price-range-filter label {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #62646a;
    margin-bottom: 4px;
}

.filter_widget .filter_menu .menu-content .price-range-filter .input-wrapper input {
    min-height: 36px;
    min-width: 120px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #dadbdd;
    color: #7a7d85;
    border: 1px #b5b6ba solid;
    padding: 6px 7px 7px;
    margin: 0;
    resize: none;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #fff;
    -webkit-transition: border-color .35s ease;
    -o-transition: border-color .35s ease;
    transition: border-color .35s ease;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

.filter_widget .filter_menu .menu-content .price-range-filter .input-wrapper i {
    color: #b5b6ba;
    font-style: normal;
    position: absolute;
    z-index: 1;
    top: 35px;
    right: 8px;
}
.menu-content.category .content-scroll{
    padding: 0 !important;
}
.category-dropmenu {
    padding: 0;
    border: none;
    border-top-left-radius: 0;
    min-width: 218px;
    list-style: none;
    font-size: 14px;
    background-clip: padding-box;
}

@media (min-width: 768px) {
    .category-dropmenu {
        max-height: 300px;
        overflow-y: auto;
    }
}

.category-header {
    display: block;
    padding: 15px 20px 16px;
    font-size: 14px;
    line-height: 14px;
    color: #222;
    background-color: #F2F2F2;
    text-transform: uppercase;
    font-weight: 700;
}
@media (min-width: 768px){
.category-header {
    padding: 8px 20px;
}
}
.category-header .checkbox label{
    margin-bottom: 0;
}
.filter_menu .category-header {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.checkbox-panel .checkbox:last-child label{
    margin-bottom: 0;
}
.category-dropmenu .checkbox{
    display: block;
}




/*已选标签*/

.top-filters .selected-filters-wrapper .selected-filters {
    padding: 0 2px;
}

.selected-filters-wrapper .selected-filters>a {
    display: inline-block;
    margin: 16px 10px 8px 0;
    padding: 0 10px 0 7px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 25px;
    font-size: 14px;
    color: #555;
    border: 1px solid #434345;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.top-filters .selected-filters-wrapper a {
    color: #7a7d85;
    font: 500 14px/22px "Nunito", "Helvetica Neue", Helvetica, Arial, "PingFang SC", 微软雅黑, "Microsoft YaHei", 华文细黑, STHeiti, sans-serif;
    background-color: #efeff0;
    margin: 0 10px 10px 0;
    padding: 3px 12px;
    border: none;
    border-radius: 50px;
    -webkit-transition: border-color .35s ease;
    -o-transition: border-color .35s ease;
    transition: border-color .35s ease;
}

.top-filters .selected-filters-wrapper .remove-icon {
    position: relative;
    top: 0px;
    color: #95979d;
    font-size: 16px;
    margin-left: 5px;
}



/*结果排序*/
.top-filters .filteresult {
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.top-filters .top-secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top-secondary .number-of-results {
    color: #7a7d85;
    font: 600 14px/22px ProximaNova, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 2px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top-secondary .number-of-results i{
    margin-right: 5px;
    color:#1dbf73;
    font-weight: bold;
}

.top-secondary .sort-by-wrapper {
    display: inline-block;
    font: 700 14px/22px ProximaNova, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.top-secondary .sort-by-wrapper .pre-title {
    font-weight: 400;
}

.top-filters .sort-by {
    position: relative;
    margin: 0 6px;
}

.top-filters .sort-by .bootstrap-select.btn-group button {
    top: 3px;
}

.top-filters .sort-by .bootstrap-select .dropdown-menu {
    top: 30px;
}


.f_clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;

}

.klook-symbol {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    fill: currentColor;
    overflow: hidden;
}

.klk_c_symbol {
    width: 1em;
    height: 1em;
    fill: currentColor;
    overflow: hidden;
}

.coupon_arrow.transform {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}


/* ---------------------------------- */
/* Tasks - List Layout
------------------------------------- */
.task-listing {
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
    background-color: #fff;
    transition: 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.task-listing:hover {
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.14);
    transform: translateY(-4px);
}

.task-listing-details {
    padding: 34px 38px;
    flex: 1;
}

.task-listing .task-listing-description {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.task-listing .task-listing-description p {
    margin: 15px 0 0 0;
    padding: 0;
    color: #666;
}


.task-listing h3.task-listing-title a,
.task-listing h3.task-listing-title {
    font-size: 18px;
    color: #0e2b5c;
    line-height: 28px;
    cursor: pointer;
    font-weight: 600;
    padding-top: 2px;
    transition: 0.3s;
}

.task-status-button {
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    padding: 2px 8px;
    display: inline-block;
    position: relative;
    top: -2px;
    margin: 0 0 4px 4px;
}

.task-status-button.red {
    background-color: #ffe6e6;
    color: #ea5252;
}

.ul-task-icons {
    list-style: none;
    padding: 0;
    margin: 3px 0 0 -3px;
}

.ul-task-icons li {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    color: #808080;
}

.ul-task-icons i {
    color: #909090;
    font-size: 16px;
    position: relative;
    top: 1px;
}

.ul-task-icons i.icon-material-outline-desktop-windows {
    font-size: 19px;
    top: 2px;
}

.task-listing-bid {
    flex: 0 0 240px;
    background-color: #f8f8f8;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-list-postime{
    margin-top: 4px;
}

.task-list-postime i{
    margin-right: 4px;
}
.task-listing-bid-inner {
    width: 100%;
    padding: 35px;
}

.task-listing-bid-inner .button {
    display: block;
    text-align: center;
    box-shadow: 0 4px 12px rgba(102, 103, 107, 0.15);
    width: 100%;
}

.task-listing-bid-inner .button:hover {
    box-shadow: 0 4px 12px rgba(102, 103, 107, 0.25);
}

.task-listing-bid .task-offers {
    margin-bottom: 15px;
    /*	text-align: center;*/
}

.task-listing-bid .task-offers strong {
    display: block;
    color: #0e2b5c;
    font-weight: 600;
    line-height: 24px;
}

.task-listing-bid .task-offers span {
    display: block;
    color: #888;
    line-height: 24px;
}

/* Task Tags */
.task-tags {
    display: block;
    margin: 23px 0 3px 0;
}

.task-tags span {
    transition: 0.3s;
    font-size: 14.7px;
    border-radius: 4px;
    background-color: rgba(102, 103, 107, .07);
    color: #66676b;
    display: inline-block;
    padding: 6px 15px;
    margin: 2px 0;
    line-height: 24px;
}

/* Compact List */
.compact-list .task-listing {
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: none;
}

.compact-list .task-listing:hover {
    transform: translateY(0);
}

.tasks-list-container.compact-list {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
}

.tasks-list-container.compact-list .task-listing {
    align-items: center;
    justify-content: center;
}

.tasks-list-container.compact-list .task-listing:nth-child(2n) {
    background-color: #fafafa;
}

.tasks-list-container.compact-list .task-listing-bid {
    background-color: transparent;
}

.tasks-list-container.compact-list .task-listing:hover:before {
    opacity: 1;
}

.tasks-list-container.compact-list .task-listing:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    display: block;
    background: #66676b;
    transition: 0.3s;
    opacity: 0;
}

.tasks-list-container.compact-list .task-listing:last-of-type {
    border-radius: 0 0 3px 3px;
    overflow: hidden;
}

.tasks-list-container.compact-list .task-listing:first-of-type {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.tasks-list-container.compact-list .task-listing .task-listing-details {
    padding-right: 0;
}

/* Section Styles */
.section .task-listing-details,
.section .task-listing-bid-inner {
    padding: 27px 35px;
}


/* Media Queries for Tasks List */
@media (max-width: 1200px) {
    .task-listing-bid {
        flex: 0 0 220px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .task-listing-bid {
        flex: 1;
        padding: 10px 0;
    }

    .task-listing {
        flex-direction: column;
    }

    .task-listing-bid-inner {
        display: flex;
        margin: 20px 0 0 0;
    }

    .tasks-grid-layout .task-listing-bid-inner {
        margin: 0;
    }

    .task-listing-bid-inner .task-offers {
        flex: 1;
    }

    .task-listing-bid-inner .button {
        height: 100%;
        width: 30%;
    }

    .tasks-list-container.compact-list .task-listing .task-listing-details {
        padding-right: 35px;
        padding-bottom: 0;
    }

    .tasks-list-container.compact-list .task-listing .task-listing-bid {
        padding-bottom: 25px;
    }

    .task-listing-bid-inner {
        width: 100%;
        padding: 0 35px;
    }
}

/* Small Mobile Sizes */
@media (max-width: 768px) {
    .section .task-listing-details {
        padding: 25px 30px;
    }

    .section .task-listing-bid-inner {
        padding: 0 30px;
    }
}

/* Small Mobile Sizes */
@media (max-width: 480px) {

    .task-listing-bid {
        flex: 1;
        padding: 30px 0;
    }

    .task-listing {
        flex-direction: column;
    }

    .task-listing-bid-inner .task-offers {
        flex: 1;
    }

    .task-listing-bid-inner .button {
        height: 100%;
        width: 100%;
    }

    .tasks-list-container.compact-list .task-listing .task-listing-details {
        padding-right: 35px;
        padding-bottom: 0;
    }

    .tasks-list-container.compact-list .task-listing .task-listing-bid {
        padding-bottom: 35px;
    }

    .task-listing-bid-inner {
        width: 100%;
        padding: 0 35px;
    }
}
/*卡片式detail-view*/
.page-box {
    position: relative;
    background-color: #fff;
    margin: 30px 0px;
    padding: 30px;
    border-radius: 4px;
    /*-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    /box-shadow: 0 2px 8px rgba(0,0,0,0.08);*/
    box-shadow: 0 2px 8px rgba(57,73,76,.35);
}

@media (min-width: 992px){
    .page-box>.row {
        display: block;
        position: relative;
    }
    .page-box>.row:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: -15px;
        width: 30%;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
        background: #f9f9f9;
        border-left: 1px solid #e0e0e0;
    }
 
    .page-box>.row:after {
        content: "";
        display: block;
        clear: both;
    }
}

.page-box .content {
    background: #fff;
}

@media (min-width: 992px){
    .page-box .content {
        float: left;
        max-width: 70%;
    }
}

.page-box .content {
    order: 2;
}


.page-box header, .page-box footer{
    margin: 0 -30px;
    padding: 30px;;
}

.page-box header{
    border-bottom: 1px solid #E0E0E0;
    background-color: #f9f9f9;
}

.page-box section {
    border-bottom: 1px solid #E0E0E0;
    margin: 0 -30px;
    padding: 20px 30px;
}

.page-box section.box-desc-layer {
    border-bottom: none;
}

.page-box section.box-desc-layer:after {
    content: " ";
    border-bottom: 1px solid #E0E0E0;
    display: block;
    position: relative;
    top: 16px;
    z-index: 7;
    left: auto;
    width: auto;
}

@media (min-width: 768px){
    .page-box section.box-desc-layer:after {
        top: 21px;
    }
}

.page-box .content section ol, .page-box .content section ul {
    margin-top: -10px;
}
.page-box .content section ol>div>li, .page-box .content section ol>li, .page-box .content section ul>div>li, .page-box .content section ul>li {
    margin-top: 10px;
    margin-bottom: 0;
}
.page-box .content ul.job-features>li {
    width: 33.33%;
    position: relative;
    padding-left: 22px;
    padding-right: 10px;
}
.page-box .content section>:last-child {
    margin-bottom: 0!important;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 18px;
    list-style: none;
}

.breadcrumb>li {
    display: inline-block;
    font-size: 14px;
    font-weight:700;
    line-height: 21px;
}




.page-box .content .job-description {
    overflow-wrap: break-word;
}

.page-box .content .job-description>:last-child {
    margin-bottom: 0!important;
}


.page-box .content ul.job-features {
    list-style: none;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
}

.page-box .content ul.job-features>li i {
    font-size: 17px;
    font-weight: 500;
    top:1px
}

.page-box .content ul.job-features>li strong {
    display: block;
}





.sands-groups {
    margin-top: -10px!important;
}

.o-tag, .o-tag-tested, .o-tag-certified, .o-tag-skill, .tokenizer-wrapper>.tokenizer-token-list .tokenizer-token {
    background-color: #E0E0E0;
    border-radius: 4px;
    color: #666;
    font-size: 12px;
    display: inline-block;
    cursor: default;
    padding: 5px 10px;
    line-height: 1;
    margin: 10px;
}
.o-tag:hover, .o-tag-tested:hover, .o-tag-certified:hover, .o-tag-skill:hover, .tokenizer-wrapper>.tokenizer-token-list .tokenizer-token:hover {
    background-color: #008329;
    color: #fff;
    cursor: pointer;
}




.list-unstyled, .list-inline {
    padding-left: 0;
    list-style: none;
}


.page-boxs h4{
    line-height: 23px;
    font-size: 15px;
    font-weight: 500;
    word-break: break-word;
    margin: 0 0 30px;
    color: #222;
    font-family: inherit;
}

@media (min-width: 992px){
    .page-box .sidebar-actions {
        float: right;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.page-box .sidebar-actions {
    order: 1;
}

@media (min-width: 992px){
    .page-box>.row>aside {
        float: right;
        clear: right;
        max-width: 30%;
    }
    .page-box .sidebar {
        margin-right: -30px;
    }
    .page-box .sidebar-actions .sidebar {
        padding: 30px 30px 0;
    }
    .page-box>.row>aside:first-of-type>.sidebar>section:first-child {
        border-top: none;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .page-box section:last-child {
        border-bottom: none;
    }
    .page-box .sidebar-reg section {
        margin-left: 0;
        margin-right: 0;
    }
    .page-box .sidebar-extra section {
        margin-left: 0;
        margin-right: 0;
        border-bottom: none;
    }
    .page-box .sidebar-extra section {
        border-top: 1px solid #e0e0e0;
    }
}

.sidebar input{
    margin-bottom:0
}

.page-box .row.buttons {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.page-box .row.buttons>* {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.btn {
    padding: 11px 28px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    border: solid 2px transparent;
    -webkit-font-smoothing: antialiased;
    margin: 0 20px 30px 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    background-image: none;
    -webkit-transition: all .15s;
    transition: all .15s;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

.btn-primary {
    color: #fff;
    background-color: #37A000;
    border-color: transparent;
}

.btn-block {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}
.btn-jobs-apply{
    display: block!important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all .15s!important;
    transition: all .15s!important;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35)!important;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35)!important;
}
.btn-jobs-save{
    text-align: center;
    border: 1px solid #333!important;
    color: #333!important;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 14px;
    padding: 9px 5px;
    max-width: 100%;
    transition: 0.3s;
}
.cta .btn, .cta button {
    margin: 0 0 15px;
}
.page-box .row.buttons>:last-child>.button {
    margin-bottom: 0;
}



.page-box h3 {
    line-height: 28px;
    font-size: 18px;
    font-weight: 500;
}


/* Attachments */
.attachments-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100% + 20px);
    margin-bottom: -30px;
}

.attachment-box {
    display: flex;
    margin: 0 20px 20px 0;
    background-color: #f4f4f4;
    border-radius: 4px 0px 4px 4px;
    font-weight: 600;
    padding: 15px 20px;
    padding-bottom: 45px;
    padding-right: 25px;
    line-height: 24px;
    flex-direction: column;
    color: #666;
    position: relative;
    transition: 0.3s;
    flex: 0 1 calc(50% - 21px);
    cursor: default;
    position: relative;
}

.single-page-section .attachment-box {
    flex: 0 1 calc(33% - 20px);
}

.single-page-section .attachments-container {
    margin-bottom: -20px;
}

a.attachment-box {
    cursor: pointer;
}

.attachment-box:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15) #fff;
    transition: 0.3s;
    border-radius: 0 0 0 4px;
}

a.attachment-box:hover {
    background-color: #66676b;
    color: #fff;
}

a.attachment-box:hover:before {
    border-color: rgba(0, 0, 0, 0.25) #fff;
}

.attachment-box span {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    flex: auto;
}

.attachment-box i {
    display: block;
    font-style: normal;
    font-size: 14px;
    color: #999;
    font-weight: 500;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    transition: 0.3s;
}

a.attachment-box:hover i {
    color: rgba(255, 255, 255, 0.7);
}

/* Remove Attachment Button */
.attachment-box .remove-attachment {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    background-color: #dc3139;
    box-shadow: 0 3px 8px rgba(234, 65, 81, 0.15);
    height: 28px;
    width: 28px;
    line-height: 28px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(3px);
}

.attachment-box .remove-attachment:before {
    content: "\e9e4";
    font-family: "Feather-Icons";
}

.attachment-box:hover .remove-attachment {
    opacity: 1;
    transform: translateY(0);
}




ul.job-features {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.p-0 {
    padding: 0 !important;
}

ul.job-features>li {
    width: 33.33%;
    position: relative;
    padding-left: 25px;
    padding-right: 10px;

}

.glyphicon {
    position: relative;
    top: 0;
    display: inline-block;
}

.jobdetails-tier-level-icon {
    speak: none;
    font-style: normal;
    font-weight: 600;
    font-variant: normal;
    text-transform: none;
    height: 20px;
    font-size: 15px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
    margin-right: 5px;
}

ul.job-features>li>i {
    position: absolute;
    left: 0;
    margin-left: 0;
}

ul.job-features>li>i.jobdetails-tier-level-icon {
    letter-spacing: -2px;
}

ul.job-features>li strong {
    display: block;
}

.text-muted {
    color: #656565 !important;
}

.vertical-align-middle {
    vertical-align: middle !important;
}


.job-overview .job-overview-inner {
    padding: 10px 0;
}

.job-overview .job-overview-inner ul>li {
    margin-bottom: 15px;
    font-size: 13px;
}

.job-overview .job-overview-inner ul>li:last-child {
    margin-bottom: 0;
}

.niuku-plus {
    color: #14BBF0;
    font-weight: 500 !important;
    font-size: 14px;
    line-height: 23px;
}

.text-success {
    color: #008329;
}



/*Jobs-Apply 工作申请*/


.prefix-tag {
    background-color: #E0E0E0;
    border-radius: 4px;
    color: #222;
    font-size: 12px;
    display: inline-block;
    cursor: default;
    padding: 5px 10px;
    line-height: 1;
    margin: 10px;
}

.ncard .prefix-tag {
    margin: 0 6px 10px 0;
}

.form-group {
    margin: 0 0 30px;
}

.form-group>div, .form-group>label {
    float: none;
}

label:not(.btn), .control-label {
    margin-bottom: 10px !important;
    color: #222;
    font-weight: 700;
    font-size: 13px;
}

.form-group>label:not([class^="col-"]) {
    width: 100%;
}

.radio label:hover, .checkbox label:hover, .checkbox-inline label:hover {
    background-color: rgb(249, 249, 249);
    box-shadow: rgb(249, 249, 249) -5px 0px 0px;
}


.job-join-term .radio{
    display: block;
    min-height: 18px;
    margin: 0;
}

.form-group .radio:last-child, .form-group .checkbox:last-child {
    padding-bottom: 15px;
}

.input-group {
    position: relative;
    display: inherit;
}
.input-group-outside {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.input-group .input-group-addon, .input-group .input-group-btn {
    height: 40px;
    line-height: 1;
    background-color: transparent;
    position: absolute;
    top: 0px;
    z-index: 5;
    width: auto;
    color: rgb(101, 101, 101);
    white-space: nowrap;
    vertical-align: middle;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-image: initial;
    border-color: transparent;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.input-group-addon:first-child {
    border-right: 0px;
}

.milestone-number.input-group-addon {
    left: -20px !important;
    font-weight: bold;
    line-height: 40px;
}

.input-group .input-group-addon:first-child, .input-group .input-group-btn:first-child {
    left: 0px;
    padding-right: 0px;
}

.input-group-outside .input-group-addon:first-child {
    left: -40px;
}

.milestone-description-field {
    text-align: left !important;
}

.fe-amount {
    width: 100%;
}

.hydrated {
    visibility: inherit;
}

.sc-up-c-illustration-h {
    display: inline-block;
    min-height: var(--illustration-min-height,130px);
    min-width: var(--illustration-min-width,145px);
    height: var(--illustration-height,130px);
    width: var(--illustration-width,145px);
}
.up-proposals-shield-logo {
    height: 100px;
    min-height: 35px;
    width: 110px;
    min-width: 35px;
}
.up-disintermediation-container {
    position: relative;
    padding-top: 1px;
    margin-top: -1px;
}
.up-disintermediation-highlighter {
    white-space: pre-wrap;
    word-wrap: break-word;
    border: solid transparent;
    display: block;
    color: transparent;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
